body {
  width: 960px;
  height: 1000px;
  margin: 0 auto;
  font-family: sans-serif;
}

.earth {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.sky {
  height: 50%;
}

.sea{
  height: 50%;
  background-color: hsla(210,100%,56%,0.8);
}

.sky > div {
  height: 20%;
  width: 100%;
}

.topest-sky {
  background-color: hsla(210,100%,81%,1.0);
}

.toper-sky {
  background-color: hsla(210,100%,84%,1.0);
}

.middle-sky {
  background-color: hsla(210,100%,89%,1.0);
}

.lower-sky {
  background-color: hsla(210,100%,92%,1.0);
}

.lowest-sky {
  background-color: hsla(210,100%,95%,1.0);
}

.submarine {
  text-align: center;
}

.submarine > p {
  margin: 0;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 125px;
  color: hsla(210,52%,39%,0.8);
  text-shadow: 1px 1px 0px hsla(0,0%,100%,0.3);
}

/* .submarine > span {
  font-size: 100px;
  font-weight: 900;
  letter-spacing: -0.1em;
  color: hsla(210,52%,39%,0.8);
  text-shadow: 1px 1px 0px hsla(0,0%,100%,0.2);
} */

.relative-position {
  position: relative;
  bottom: 0.4em;
}
